html {
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 10px;

        @include media('<tablet') {
            width: 5px;
        }
    }

    ::-webkit-scrollbar-track {
        background-color: #FCFAF8;
    }

    ::-webkit-scrollbar-thumb {
        background: #11133E;
        border-radius: 5px;
    }
}


summary {

    &::-webkit-details-marker {
        display: none;
    }
}

.container {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.body_lock {
    overflow: hidden;
}

.general_btn {
    border-radius: 52px;
    padding: 16px 40px;
    color: #FCFAF8;
    border: none;
    background-color: #11133E;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
    transition: all .3s ease 0s;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid #9DE3CD;
        transition: all .3s ease 0s;
    }
}

.blue_link {
    color: #007AFF;
}

.breadcrumbs {
    background-color: #F7F7F7;
    padding: 14px 0;

    @include media('<tablet') {
        display: none;
    }

    .breadcrumbs_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .breadcrumbs_nav,
    .breadcrumbs_nav--buttons,
    .nav_btn {
        display: flex;
        align-items: center;
    }

    .breadcrumbs_nav,
    .nav_btn {
        gap: 4px;
    }

    .breadcrumbs_nav {
        margin-left: 70px;

        span {
            color: rgba(160, 160, 160, 1);
        }
    }

    .breadcrumb {
        color: #A0A0A0;
        font-size: 14px;
        line-height: 22px;
    }

    .breadcrumb_active {
        color: #1F1F1F;
    }

    .breadcrumbs_nav--buttons {
        gap: 12px
    }

    .divider {
        width: 1px;
        height: 24px;
        background-color: #E9E9E9;
    }

    .nav_btn {
        span {
            margin-top: 2px;
            color: #696C70;
            font-size: 14px;
            line-height: 157%
        }
    }
}

.color_picker--items {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.color_picker--item {
    cursor: pointer;
    width: 37px;
    height: 37px;
    background-color: rgba(244, 210, 219, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media('<tablet') {
        width: 24px;
        height: 24px;
    }

    img {
        display: none;
        width: 16px;
        height: 16px;
    }

    &.active_color {
        border: 1px solid #9F9F9F;

        img {
            display: block;
        }
    }
}