.container {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.body_lock {
    overflow: hidden;
}

.general_btn {
    border-radius: 52px;
    padding: 16px 40px;
    color: #FCFAF8;
    border: none;
    background-color: #11133E;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
}

.blue_link {
    color: #007AFF;
}

.breadcrumbs {
    background-color: #F7F7F7;
    padding: 14px 0;

    @include media('<tablet') {
        display: none;
    }

    .breadcrumbs_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .breadcrumbs_nav,
    .breadcrumbs_nav--buttons,
    .nav_btn {
        display: flex;
        align-items: center;
    }

    .breadcrumbs_nav,
    .nav_btn {
        gap: 4px;
    }

    .breadcrumbs_nav {
        margin-left: 70px;

        span {
            color: rgba(160, 160, 160, 1);
        }
    }

    .breadcrumb {
        color: #A0A0A0;
        font-size: 14px;
        line-height: 22px;
    }

    .breadcrumb_active {
        color: #1F1F1F;
    }

    .breadcrumbs_nav--buttons {
        gap: 12px
    }

    .divider {
        width: 1px;
        height: 24px;
        background-color: #E9E9E9;
    }

    .nav_btn {
        span {
            margin-top: 2px;
            color: #696C70;
            font-size: 14px;
            line-height: 157%
        }
    }
}

//-------Main Page

.main {
    @include adaptive-value("padding-top", 65, 5, 1);
    @include adaptive-value("padding-bottom", 40, 50, 1);

    .swiper-wrapper {
        @include media('<desktop') {
            padding-bottom: 80px;
        }
    }

    .slide_wrap {
        display: flex;
        align-items: center;
        border-radius: 40px;
        width: 100%;
        overflow: hidden;
        @include adaptive-value('height', 760, 350, 1);

        @include media('<desktop') {
            height: auto;
            flex-direction: column-reverse;
        }
    }

    .text_block {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        @include adaptive-value("padding-left", 60, 20, 1);
        @include adaptive-value("padding-right", 60, 20, 1);
        width: 40%;
        height: 100%;
        background: #FAF2EC;


        @include media('<desktop') {
            width: 100%;
            padding: 50px 0 25px 0;
        }

        span {
            color: #1F1F1F;
            @include adaptive-value("font-size", 22, 16, 1);
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            display: inline-block;
            @include adaptive-value("margin-bottom", 16, 12, 1);
            padding: 0 20px;
        }

        h2 {
            color: #1F1F1F;
            @include adaptive-value("font-size", 52, 32, 1);
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            text-transform: capitalize;
            @include adaptive-value("margin-bottom", 40, 24, 1);
            padding: 0 20px;

            @include media('<phone') {
                font-weight: 600;
            }
        }

        .general_btn,
        h2,
        span {
            position: relative;
            z-index: 1;
        }

        .general_btn {
            @include media('<desktop') {
                margin: 0 20px;
                width: calc(100% - 120px);
            }
        }
    }

    .star_1 {
        position: absolute;
        top: 5%;
        left: 5%;

        @include media('<desktop') {
            width: 24px;
            height: 25px;
        }
    }

    .star_2 {
        position: absolute;
        top: 35%;
        right: -10px;


        @include media('<desktop') {
            width: 24px;
            height: 25px;
        }
    }

    .star_3 {
        position: absolute;
        bottom: 18%;
        left: 53%;


        @include media('<desktop') {
            width: 24px;
            height: 25px;
        }
    }

    .line_1 {
        position: absolute;
        top: 0;
        left: 45%;
        transform: translateX(-50%);

        @include media('<desktop') {
            width: 103px;
            height: 73px;
        }
    }

    .line_2 {
        position: absolute;
        bottom: 0;
        left: 0;

        @include media('<desktop') {
            width: 103px;
            height: 73px;
        }
    }

    .img_block {
        height: 100%;
        width: 60%;
        position: relative;
        z-index: 1;
        border-radius: 0 40px 40px 0;
        overflow: hidden;

        @include media('<desktop') {
            width: 100%;
            height: 400px;
            border-radius: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border: 1px solid rgba(217, 242, 225, 1);
        background-color: rgba(17, 19, 62, 1);
        opacity: 1;
        transition: all .3s ease 0s;
    }

    .swiper-pagination-bullet-active {
        width: 20px;
        height: 20px;
        transition: all .3s ease 0s;
    }
}

.welcome_section {
    @include adaptive-value('padding-bottom', 120, 45, 1);
    overflow: hidden;

    .content {
        margin-bottom: 30px;
    }

    h1,
    p {
        max-width: 932px;
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        color: #000;
        text-align: center;
        @include adaptive-value("font-size", 45, 32, 1);
        font-style: normal;
        font-weight: 600;
        line-height: 121%;
        @include adaptive-value('margin-bottom', 18, 10, 1);
    }

    p {
        color: #000;
        text-align: center;
        @include adaptive-value("font-size", 18, 14, 1);
        line-height: 150%;
        @include adaptive-value('margin-bottom', 35, 60, 1);
    }

    .cards_wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include adaptive-value('gap', 30, 10, 1);

        @include media('<desktop') {
            justify-content: center;
        }
    }

    .card {
        height: 550px;
        border-radius: 50px;
        display: flex;
        position: relative;

        h3 {
            color: #000;
            @include adaptive-value("font-size", 36, 32, 1);
            font-weight: 500;
            line-height: 111%;
            @include adaptive-value('margin-bottom', 36, 0, 1);
        }

        P {
            color: #000;
            @include adaptive-value("font-size", 22, 16, 1);
            font-weight: 500;
            line-height: 140%;
            text-align: start;
            margin: 0;
        }

        &:nth-child(1) {
            width: 48.5%;
            background-color: #D9F2E1;
            align-items: flex-end;
            justify-content: flex-end;
            @include adaptive-value("padding-top", 60, 30, 1);
            @include adaptive-value("padding-bottom", 60, 30, 1);
            @include adaptive-value("padding-right", 20, 30, 1);
            @include adaptive-value("padding-left", 20, 30, 1);

            @include media('<desktop') {
                width: 60%;
                flex-direction: column-reverse;
                height: auto;
                align-items: flex-start;
                justify-content: center;
                padding: 0;
            }

            @include media('<tablet') {
                width: 100%;
            }

            .card_text {
                max-width: 277px;
                width: 100%;
                text-align: start;
                position: relative;
                z-index: 1;
                text-shadow: 0px 2px 2px #fff;

                @include media('<desktop') {
                    padding: 30px 0 0 30px;
                    max-width: 100%;
                }

            }

            .line_1 {
                position: absolute;
                top: 0;
                right: 0;
                @include adaptive-value('width', 387, 204, 1);
            }

            .card_img {
                position: absolute;
                bottom: 0;
                left: 0;
                max-height: 504px;
                @include adaptive-value('width', 424, 284, 1);

                @include media('<desktop') {
                    position: static;
                }
            }
        }

        &:nth-child(2) {
            width: 48.5%;
            background-color: #D9DFFF;
            align-items: flex-end;
            justify-content: flex-start;
            padding: 30px 20px;

            @include media('<desktop') {
                width: 60%;
                flex-direction: column-reverse;
                height: auto;
                align-items: flex-start;
                justify-content: center;
                padding: 0;
            }

            @include media('<tablet') {
                width: 100%;
            }

            .card_img {
                position: absolute;
                z-index: 1;
                bottom: 0;
                right: -80px;
                max-height: 504px;
                @include adaptive-value('width', 424, 336, 1);

                @include media('<desktop') {
                    position: static;
                    margin-left: auto;
                    margin-right: -25px;
                }
            }

            .card_text {
                max-width: 304px;
                width: 100%;
                text-align: start;
                position: relative;
                z-index: 1;
                text-shadow: 0px 2px 2px #fff;

                @include media('<desktop') {
                    padding: 30px 0 0 30px;
                    max-width: 100%;
                }
            }

            .star_1 {
                position: absolute;
                top: 25%;
                left: 5%;

                @include media('<desktop') {
                    top: 45%;
                }
            }

            .star_2 {
                position: absolute;
                top: 0;
                right: 10%;
            }
        }

        &:nth-child(3) {
            width: 100%;
            padding: 64px;
            overflow: hidden;
            background: #E3D1C3;

            @include media('<tablet') {
                flex-direction: column;
                padding: 0;
                height: auto;
            }

            .card_img {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

                @include media('<tablet') {
                    position: static;
                    border-radius: 50px;
                    margin-bottom: 30px;
                    min-height: 239px;
                }
            }

            .card_text {
                position: relative;
                max-width: 463px;
                width: 100%;
                z-index: 1;

                @include media('<tablet') {
                    padding: 20px 20px 30px 20px;
                    width: 100%;
                }
            }

            h3 {
                color: #1F1F1F;
                @include adaptive-value("font-size", 45, 32, 1);
                line-height: 140%;
                font-weight: 600;
                margin-bottom: 24px;
            }

            p {
                margin-bottom: 16px;
            }

            .general_btn {
                @include media('<phone') {
                    width: 100%;
                }
            }
        }

        &:nth-child(4) {
            width: 100%;
            align-items: center;
            justify-content: center;
            background-color: #D9DFFF;
            @include adaptive-value('height', 700, 225, 1);

            .play_btn {
                border: none;
                background-color: transparent;
            }

            .play_img {
                width: 172px;
                height: 170px;
                @include adaptive-value('height', 170, 69, 1);
                @include adaptive-value('width', 172, 70, 1);
            }
        }

        &:nth-child(5) {
            width: 39%;
            background-color: #D9F2E1;
            align-items: flex-end;
            justify-content: center;
            @include adaptive-value("padding-top", 64, 30, 1);
            @include adaptive-value("padding-bottom", 64, 30, 1);
            @include adaptive-value("padding-right", 64, 30, 1);
            @include adaptive-value("padding-left", 64, 30, 1);

            @include media('<tablet') {
                height: 500px;
                width: 100%;
            }

            .line_2 {
                position: absolute;
                top: 0;
                left: 0;
            }

            .card_text {
                position: relative;
                z-index: 1;
            }


            h3 {
                color: #1F1F1F;
                @include adaptive-value("font-size", 45, 32, 1);
                line-height: 140%;
                font-weight: 600;
                margin-bottom: 24px;
            }
        }

        &:nth-child(6) {
            width: 58%;
            overflow: hidden;

            @include media('<tablet') {
                height: 400px;
                width: 100%;
            }

            @include media('<phone') {
                height: 300px;
            }


            .card_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &:nth-child(7) {
            width: 58%;
            overflow: hidden;

            @include media('<tablet') {
                display: none;
            }

            .card_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &:nth-child(8) {
            width: 39%;
            background-color: #D9F2E1;
            @include adaptive-value("padding-top", 64, 30, 1);
            @include adaptive-value("padding-bottom", 64, 30, 1);
            @include adaptive-value("padding-right", 64, 30, 1);
            @include adaptive-value("padding-left", 64, 30, 1);
            @include adaptive-value("height", 550, 500, 1);

            @include media('<tablet') {
                width: 100%;
            }

            .card_img {
                position: absolute;
                bottom: -20%;
                right: -11%;
                max-width: 460px;
                width: 100%;
                max-height: 460px;
                min-width: 418px;

                @include media('<desktop') {
                    right: -15%;
                }

                @include media('<tablet') {
                    right: 50%;
                    transform: translateX(50%);
                    bottom: -15%;

                }
            }

            .card_text {
                align-items: flex-start;
                justify-content: flex-start;
            }

            h3 {
                color: #1F1F1F;
                @include adaptive-value("font-size", 45, 32, 1);
                line-height: 140%;
                font-weight: 600;
                margin-bottom: 24px;
            }
        }
    }

    .faq_content {
        border-radius: 50px;
        background: #FAF2EC;
        @include adaptive-value("padding-top", 64, 22, 1);
        @include adaptive-value("padding-bottom", 64, 34, 1);
        @include adaptive-value("padding-right", 64, 24, 1);
        @include adaptive-value("padding-left", 64, 24, 1);

        p {
            max-width: 100%;
            text-align: start;
            margin: 0;
        }
    }

    .faq_content--title {
        color: #000;
        text-align: center;
        @include adaptive-value("font-size", 60, 36, 1);
        font-weight: 700;
        line-height: 140%;
        margin-bottom: 24px;
    }

    .faq_items--block {
        border-top: 1px solid #000;
        padding: 20px 0;
        text-align: start;

        &:last-child {
            border-bottom: 1px solid #000;
        }

        &[open] {
            .arrow {
                transform: rotate(180deg);
                transition: all .3s ease 0s;
            }
        }
    }

    .faq_items--wrap {
        summary {
            color: #000;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            cursor: pointer;
        }

        p {
            margin-top: 20px;
            color: #000;
            font-size: 16px;
            line-height: 150%;
        }
    }

    .arrow {
        transition: all .3s ease 0s;
        width: 25px;
        height: 25px;
    }
}

.reviews {
    background-color: #D9DFFF;
    padding: 45px 0 100px 0;

    h2 {
        text-align: center;
        margin-bottom: 18px;
    }

    p {
        text-align: center;
        @include adaptive-value('margin-bottom', 54, 22, 1);
    }

    .swiper_review {
        padding-bottom: 76px;
        position: relative;
    }

    .review_content {
        border-radius: 50px;
        background: #FCFAF8;
        padding: 60px 45px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .stars,
    .reviewer,
    .review_source {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .review_text {
        text-align: start;
        margin: 0;
        color: rgba(0, 0, 0, 0.70);
    }

    .reviewer_name {
        color: #000;
        font-size: 18px;
        line-height: 150%;
    }

    .reviewer_location,
    .review_source--name {
        color: #79747E;
        line-height: 150%;
    }

    .reviewer_location {
        font-size: 14px;
    }

    .review_source--name {
        font-size: 18px;
    }

    .review_source--img {
        width: 66px;
        margin-top: 10px;
    }

    .review_item {
        border-radius: 50px;
        background: #11133E;
        padding: 45px;
        display: flex;
        align-items: center;
        gap: 45px;
        @include adaptive-value('gap', 45, 16, 1);
    }

    .review_item--img {
        max-width: 100px;
    }

    .review_item--title {
        margin-bottom: 21px;
    }

    .review_item--price {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .green_price,
    .white_price {

        font-size: 16px;
        line-height: 150%;
    }

    .green_price {
        color: #9DE3CD;
    }

    .white_price {
        color: #FCFAF8;
    }

    .arrow_wrap {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 44px;
        width: 104px;

        @include media('<desktop') {
            right: 50%;
            transform: translateX(50%);
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 44px;
        border-radius: 50%;
        border: 1px solid #E9E9E9;
        background-color: #FFF;
        padding: 10px;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        color: rgba(31, 31, 31, 1);
        font-size: 20px;
        padding: 10px;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

}

.grab {
    @include adaptive-value("padding-top", 100, 45, 1);
    @include adaptive-value("padding-bottom", 50, 35, 1);

    .grab_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 32px;

        @include media('<tablet') {
            flex-direction: column;
        }
    }

    .grab_head--text_block {
        @include media('<tablet') {
            text-align: center;
        }

        h4 {
            margin-bottom: 12px;
        }

        p {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.70);
        }
    }

    .grab_head--timer {
        display: flex;
        align-items: center;
        gap: 16px;


        span {
            color: #11133E;
            font-size: 45px;
            font-weight: 600;
            line-height: 140%;
            margin-bottom: 35px;
        }
    }

    .time_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            color: #11133E;
            font-size: 45px;
            font-weight: 600;
            line-height: 140%;
            margin-bottom: 6px;
        }

        p {
            font-size: 16px;
            color: #79747E;
        }
    }

    .grab_item-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value('gap', 60, 24, 1);

        @include media('<desktop') {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .grab_item {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .item_img {
        max-width: 157px;
        border-radius: 12px;
        overflow: hidden;
    }

    .item_content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h5 {
            color: #000;
        }

        span {
            color: rgba(0, 0, 0, 0.70);
            font-size: 16px;
            line-height: 150%;
        }
    }

    .number_reviews {
        display: flex;
        align-items: center;
        gap: 6px;

        img {
            width: 13px;
            height: 13px;
        }

        span {
            color: rgba(0, 0, 0, 0.39);
            font-size: 14px;
            line-height: 157%;
        }
    }

    .color_picker {
        display: flex;
        align-items: center;
        gap: 6px;

        .color_wrap {
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            width: 18px;
            height: 18px;
        }

        .color_item {
            background-color: rgba(244, 210, 219, 1);
            width: 12px;
            height: 12px;
            border-radius: 50%;
        }

        .active_color {
            border: 1px solid #000;
        }
    }
}

.gallery {
    @include adaptive-value("padding-top", 50, 35, 1);
    @include adaptive-value("padding-bottom", 414, 15, 1);
    position: relative;

    .content {

        @include media('<1330px') {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
        }

        @include media('<phone') {
            gap: 12px;
        }
    }

    .gallery_img {
        border-radius: 50px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }

        &:nth-child(1) {
            max-width: 1315px;
            margin: 0 auto;

            @include media('<desktop') {
                order: 1;
            }
        }

        &:nth-child(2) {
            position: absolute;
            bottom: 154px;
            @include adaptive-value('left', 100, -100, 1);
            @include adaptive-value('bottom', 154, -500, 1);
            max-width: 660px;

            @include media('<1330px') {
                position: static;
            }

            @include media('<desktop') {
                order: 3;
            }
        }

        &:nth-child(3) {
            position: absolute;
            max-width: 436px;
            right: 150px;
            @include adaptive-value('right', 150, -500, 1);
            @include adaptive-value('bottom', 89, -500, 1);

            @include media('<1330px') {
                position: static;
            }

            @include media('<desktop') {
                order: 2;
            }
        }
    }
}

.gift {
    @include adaptive-value("padding-top", 75, 60, 1);
    @include adaptive-value("padding-bottom", 75, 60, 1);
    background-color: #D9DFFF;

    .content {
        text-align: center;
    }

    h2 {
        color: #11133E;
        @include adaptive-value("font-size", 60, 24, 1);
        font-weight: 700;
        line-height: 140%;
        max-width: 1008px;
        width: 100%;
        margin: 0 auto 12px auto;
    }

    p {
        color: #11133E;
        font-weight: 400;
        line-height: 150%;
        max-width: 655px;
        width: 100%;
        margin: 0 auto 24px auto;
    }
}


//-------Product Page

.product_section {
    padding: 105px 0 55px 0;
    @include adaptive-value("padding-top", 105, 5, 1);
    @include adaptive-value("padding-bottom", 55, 25, 1);

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include media('<widescreen') {
            flex-direction: column;
        }
    }

    .product_gallery {
        width: 45%;

        @include media('<widescreen') {
            width: 100%;
        }
    }

    .product_info {
        width: 50%;

        @include media('<widescreen') {
            width: 100%;
        }
    }

    .product_name {
        color: #000;
        @include adaptive-value("font-size", 45, 32, 1);
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 15px;

        @include media('<phone') {
            text-align: center;
        }
    }

    .product_review {
        margin-bottom: 15px;
    }

    .product_price {
        display: inline-block;
        color: #000;
        font-size: 32px;
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 25px;
    }

    .product_description {
        color: rgba(0, 0, 0, 0.60);
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        ;
    }

    .color_picker--title {
        color: rgba(0, 0, 0, 0.60);
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        display: inline-block;
        margin-bottom: 22px;
    }

    .color_picker--items {
        display: flex;
        align-items: center;
        column-gap: 16px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        cursor: pointer;
    }

    .color_picker--item {
        width: 37px;
        height: 37px;
        background-color: rgba(244, 210, 219, 1);
        border-radius: 50%;
    }

    .quantity {
        margin-bottom: 15px;
        color: #000;
        font-size: 16px;
        font-weight: 500;
    }

    .buy_btn,
    .add_btn {
        border: none;
        max-width: 560px;
        width: 100%;

        @include media('<tablet') {
            max-width: 100%;
        }
    }

    .buy_btn {
        margin-bottom: 15px;
        background-color: #635BFF;
    }
}

.product_additional_info {
    padding: 40px 0 35px 0;

    .product_features {
        display: grid;
        grid-template: 1fr / repeat(auto-fit, minmax(280px, 1fr));
        gap: 60px;
        @include adaptive-value("gap", 60, 30, 1);
        margin-bottom: 30px;
    }

    .feature_item--image {
        width: 40px;
        height: 40px;
        margin-bottom: 16px;
    }

    .feature_item--title {
        color: #1F1F1F;
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    .feature_item--descr {
        color: #696C70;
        font-size: 16px;
        font-weight: 400;
        line-height: 162%;
    }

    .additional_info--blocks {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }

    .info_block {
        border-radius: 30px;
        border: 1px solid #F5F2F2;
        background: #FCFAF8;
        @include adaptive-value("padding-top", 30, 16, 1);
        @include adaptive-value("padding-bottom", 30, 16, 1);
        @include adaptive-value("padding-right", 40, 20, 1);
        @include adaptive-value("padding-left", 40, 20, 1);


        &:nth-child(1) {
            width: 48%;

            @include media('<desktop') {
                width: 100%;
            }
        }

        &:nth-child(2) {
            width: 48%;

            @include media('<desktop') {
                width: 100%;
            }
        }

        &:nth-child(3) {
            width: 100%;
        }

        &[open] {
            .arrow {
                transform: rotate(180deg);
                transition: all .3s ease 0s;
            }
        }
    }

    .info_block--title {
        color: #1F1F1F;
        @include adaptive-value("font-size", 24, 22, 1);
        font-weight: 600;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .arrow {
        transition: all .3s ease 0s;
        width: 25px;
        height: 25px;
    }

    .details_list {
        margin-top: 12px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }

    .details_item {
        position: relative;
        color: #696C70;
        font-size: 16px;
        font-weight: 400;
        line-height: 162%;

        &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: -10px;
            width: 4px;
            height: 4px;
            background-color: #696C70;
            border-radius: 50%;
        }
    }

    .technical_carachteristics_list {
        margin: 12px 0 20px 0;
    }

    .list_string {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value("padding-top", 16, 12, 1);
        @include adaptive-value("padding-bottom", 16, 12, 1);
        @include adaptive-value("padding-right", 36, 16, 1);
        @include adaptive-value("padding-left", 36, 16, 1);
        border-radius: 12px;

        @include media('<tablet') {
            flex-direction: column;
            align-items: flex-start;
        }


        &:nth-child(odd) {
            background: rgba(0, 0, 0, 0.08);
        }
    }

    .list_item {
        color: #1F1F1F;
        @include adaptive-value("font-size", 22, 14, 1);
        font-weight: 500;
        line-height: 140%;
        width: 100%;

        &:nth-child(2) {
            text-align: end;

            @include media('<tablet') {
                text-align: start;
            }
        }

        @include media('<tablet') {

            &:first-child {
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid rgba(31, 31, 31, 0.10);
            }
        }
    }

    .product_information--title {
        color: #1F1F1F;
        font-size: 24px;
        font-weight: 600;
        line-height: 125%;
        margin-bottom: 30px;
    }

    .product_information--wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px;

        @include media('<desktop') {
            flex-direction: column;
        }
    }

    .product_information--block {
        border-radius: 12px;
        overflow: hidden;
        width: 55%;

        @include media('<desktop') {
            width: 100%;
        }
    }

    .block_items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1px;
    }

    .block_item {
        &:nth-child(1) {
            background: rgba(0, 0, 0, 0.08);
            width: 50%;
            padding: 13px;
        }

        &:nth-child(2) {
            background-color: #fff;
            width: 50%;
            text-align: end;
            padding: 13px;
        }
    }

    .product_information--feedback_block {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 25px;

        @include media('<desktop') {
            width: 100%;
        }
    }

    .feedback_block--title {
        color: #1F1F1F;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        padding-bottom: 12px;
        border-bottom: 1px solid #000;
        margin-bottom: 12px;
    }

    .feedback_block--text {
        color: #1F1F1F;
        font-size: 16px;
        ;
        font-weight: 400;
        line-height: 150%;
    }
}

.customer_review {
    background: #FCFAF8;
    @include adaptive-value("padding-top", 65, 50, 1);
    padding-bottom: 130px;

    .content {
        text-align: center;
    }

    .customer_review--title {
        text-align: center;
        margin-bottom: 35px;
    }

    .customer_review--wrap {
        margin-bottom: 40px;
    }

    .customer_review--head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include adaptive-value('gap', 60, 40, 1);
        @include adaptive-value('margin-bottom', 40, 60, 1);

        @include media('<desktop') {
            flex-direction: column;
        }
    }

    .ratings {
        max-width: 321px;
        width: 100%;
        min-width: 300px;

        @include media('<desktop') {
            min-width: 100%;
            max-width: 100%;
        }
    }

    .image_preview {
        width: 100%;
    }

    .image_preview--title {
        color: #1F1F1F;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 25px;
        display: inline-block;
    }

    .image_wrapper {
        display: flex;
        align-items: center;
        column-gap: 15px;
        margin-bottom: 16px;

        img {
            max-width: 120px;
            width: 100%;
            max-height: 120px;
            border-radius: 8px;
        }
    }

    .sort_buttons {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .sort_title,
    .sort_btn {
        color: #1F1F1F;
        font-size: 16px;
        font-weight: 500;
    }

    .sort_title {
        margin-right: 5px;

        @include media('<tablet') {
            width: 100%;
        }
    }

    .sort_btn {
        border-radius: 1000px;
        border: 1px solid #E9E9E9;
        background: #FFF;
        padding: 3px 16px;
    }

    .customer_review--body {
        margin-bottom: 30px;
    }

    .review {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        padding: 25px 0;
        border-top: 1px solid #E9E9E9;
        text-align: start;

        @include media('<tablet') {
            flex-direction: column;
        }

        &:last-child {
            border-bottom: 1px solid #E9E9E9;
        }
    }

    .reviewer {
        width: 20%;
        display: flex;
        flex-direction: column;

        @include media('<tablet') {
            width: 100%;
        }
    }

    .pinned_img {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 12px;

        @include media('<tablet') {
            order: 3;
        }

        img {
            width: 60px;
            height: 60px;
            border-radius: 8px
        }
    }

    .reviewer_name {
        color: #1F1F1F;
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
        margin-bottom: 5px;

        @include media('<tablet') {
            order: 1;
            font-size: 24px;
        }
    }

    .review_info {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #A0A0A0;

        @include media('<tablet') {
            order: 2;
            font-size: 24px;
            margin-bottom: 12px;
        }
    }

    .review_info--item {
        color: #A0A0A0;
        font-size: 16px;
    }

    .review_content {
        width: 75%;

        @include media('<tablet') {
            width: 100%;
        }
    }

    .review_rank {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 8px;

        img {
            width: 18px;
            height: 18px;
        }
    }

    .review_title {
        margin-bottom: 10px;
    }

    .review_text {
        color: #1F1F1F;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 15px;
    }

    .replys_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include media('<phone') {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .replys_left {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .replys_item {
        cursor: pointer;
    }

    .item_text {
        color: #1F1F1F;
        font-size: 16px;
        font-weight: 500;
    }

    .reply_btn {
        color: #696C70;
        font-size: 16px;
        font-weight: 500;
        border: none;
        background-color: transparent;

        @include media('<phone') {
            border-radius: 52px;
            border: 2px solid rgba(17, 19, 62, 0.10);
            background: #FFF;
            width: 100%;
            padding: 16px;
        }
    }

    .customer_review--btn {
        margin: 0 auto;
        max-width: 244px;
        width: 100%;

        @include media('<phone') {
            max-width: 100%;
        }
    }

    .comment_form--title {
        margin-bottom: 25px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        width: 100%;

    }

    .input_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
    }

    .input {
        width: 48%;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid #F5F2F2;
        background: #FFF;

        @include media('<desktop') {
            width: 100%;
        }
    }

    .text_area {
        width: 100%;
        @include adaptive-value('height', 220, 105, 1);
    }

    label {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        color: #1F1F1F;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-align: start;
    }

    .form_btn {
        @include media('<phone') {
            width: 100%;
        }
    }
}

//-------404 Page

.page_not_found {
    @include adaptive-value("padding-top", 64, 5, 1);
    @include adaptive-value("padding-bottom", 64, 51, 1);

    .content {
        height: 620px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        @include adaptive-value("padding-top", 70, 47, 1);
        @include adaptive-value("padding-bottom", 70, 47, 1);
        @include adaptive-value("padding-right", 102, 30, 1);
        @include adaptive-value("padding-left", 102, 30, 1);

        @include media('<phone'){
            height: 670px;
        }
    }

    .not_found_img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .not_found_text-wrap {
        position: relative;
        z-index: 1;
        max-width: 450px;

        h3 {
            color: #FCFAF8;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            -webkit-text-stroke-width: 1;
            -webkit-text-stroke-color: #000;
            @include adaptive-value("font-size", 36, 24, 1);
            font-weight: 700;
            line-height: 111%;
            margin-bottom: 16px;
        }

        p {
            color: #FCFAF8;
            font-size: 18px;
            line-height: 150%;
            margin-bottom: 16px
        }

        .general_btn {
            display: flex;
            align-items: center;
            gap: 8px;
            border: 2px solid rgba(17, 19, 62, 0.10);
            background: #FFF;
            color: #11133E;
            width: 188px;
        }

    }
}