#header {
    .runing_string_wrap {
        max-width: 100%;
        margin: auto;
        padding: 7px 0;
        background-color: #11133E;
    }

    .items-wrap {
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: 20px;
    }

    .items {
        flex-shrink: 0;
        display: flex;
        gap: 20px;
        counter-reset: item;
        align-items: center;
        justify-content: space-around;
        min-width: 100%;
    }

    .marquee {
        animation: scroll 20s linear infinite;
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(calc(-100% - 20px));
        }
    }

    .runing_string--item {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 157%;
        counter-increment: item;
    }

    .row_string {
        width: 32px;
        height: 1px;
        background: rgba(255, 255, 255, 0.4);
        display: block;
        margin: 0 30px;
        margin-bottom: 5px;
    }

    .header_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value('gap', 40, 20, 1);
        padding: 22px 0;
    }

    .logo {
        min-width: 105px;
    }


    .menu {
        @include media('<desktop') {
            position: fixed;
            right: -100%;
            top: 0;
            z-index: 2;
            transition: all .3s ease 0s;
            background-color: #fff;
            height: 100svh;
            padding: 32px 24px;
            width: 65%;
            overflow: scroll;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        @include media('<tablet') {
            width: 100%;
        }
    }

    .menu_active {
        right: 0;
        transition: all .3s ease 0s;
    }

    .return_btn {
        background-color: transparent;
        border: none;
        margin-bottom: 25px;

        display: none;

        @include media('<desktop') {
            display: block;
        }
    }

    .menu_title {
        color: #1F1F1F;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 15px;
        display: none;

        @include media('<desktop') {
            display: block;
        }
    }

    .menu_list {
        display: flex;
        align-items: center;
        gap: 89px;
        @include adaptive-value("gap", 89, 0, 1);
        width: 100%;

        @include media('<desktop') {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 16px;
            margin-bottom: 18px;
        }
    }

    .menu_item {
        @include adaptive-value("padding-right", 32, -32, 1);
        @include adaptive-value("padding-left", 32, -32, 1);

        @include media('<desktop') {
            padding: 15px 0;
            width: 100%;
            border-bottom: 1px solid #E9E9E9;
        }
    }

    .menu_link {
        color: #11133E;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        white-space: nowrap;
        display: flex;
        align-items: center;
        gap: 10px;

        @include media('<desktop') {
            font-weight: 500;
        }
    }

    .link_icon {
        width: 24px;
        height: 24px;
        display: none;

        @include media('<desktop') {
            display: block;
        }
    }

    .shopping_cart--mob {
        border-radius: 30px;
        background-color: #FFF;
        box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);
        padding: 20px;
        margin-bottom: auto;
        display: none;

        @include media('<desktop') {
            display: block;
        }
    }

    .shopping_cart--title {
        color: #1F1F1F;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        display: inline-block;
        width: 100%;
        padding-bottom: 12px;
        border-bottom: 1px solid #E9E9E9;
    }

    .shopping_cart--empty_text {
        padding: 12px;
        color: rgba(128, 128, 128, 0.55);
        font-size: 14px;
        font-weight: 400;
        line-height: 157%;
        margin-bottom: 12px;
    }

    .shopping_cart--btn_mob {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 100%;

        svg {
            fill: #FFF;
            width: 16px;
            height: 16px;
        }
    }

    .header_links--wrap {
        flex-direction: column;
        gap: 8px;
        margin-top: 20px;
        display: none;

        @include media('<desktop') {
            display: flex;
        }
    }

    .interactive_items {
        display: flex;
        align-items: center;
        column-gap: 32px;
        width: 100%;
        justify-content: flex-end;
    }

    .search_bar {
        max-width: 722px;
        width: 100%;
        transition: all .3s ease 0s;

        @include media('<desktop') {
            width: auto;
        }
    }

    .searchBar_active {
        width: 100%;
        transition: all .3s ease 0s;
    }

    .search_wrap {
        width: 100%;
        max-width: 722px;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 12px;
        border-radius: 62px;
        background: #F0F0F0;
        padding: 12px 16px;
        transition: all .3s ease 0s;

        @include media('<desktop') {
            width: auto;
            background-color: transparent;
            column-gap: 0;
        }

        svg {
            fill-opacity: 0.4;

            @include media('<desktop') {
                fill-opacity: 1;
            }
        }

        .searchBtn_active {
            transition: all .3s ease 0s;
            fill-opacity: 0.4;
        }

        input {
            border: none;
            background-color: transparent;
            padding: 0;
            width: 100%;
            color: #1F1F1F;

            @include media('<desktop') {
                width: 0;
            }

            &::placeholder {
                color: rgba(0, 0, 0, 0.40);
                font-size: 16px;
            }
        }

        .searchInput_active {
            width: 100%;
            transition: all .3s ease 0s;
        }
    }

    .searchWrapper_active {
        background: #F0F0F0;
        width: 100%;
        gap: 12px;
        transition: all .3s ease 0s;
    }

    .cart {
        position: relative;

        @include media('<desktop') {
            display: none;
        }

        svg {
            fill: #1F1F1F;
        }

        .counter {
            position: absolute;
            top: 0;
            right: 0;
            width: 17px;
            height: 18px;
            border-radius: 50%;
            background-color: #EC2828;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                color: #FFF;
                text-align: center;
                font-size: 12px;
                font-weight: 500;
            }
        }

    }

    .burger_menu {
        display: none;
        position: relative;
        flex-direction: column;
        gap: 5px;
        min-width: 24px;
        min-height: 24px;

        span {
            width: 100%;
            height: 1px;
            background-color: #2A254B;
            display: inline-block;
            transition: all .3s ease 0s;
        }

        @include media('<desktop') {
            display: flex;
        }
    }

    .burger_active {

        span {
            transition: all .3s ease 0s;
        }
    }
}