.contact_us {
    @include adaptive-value("padding-top", 12, 4, 1);

    .content {
        @include adaptive-value("padding-bottom", 65, 32, 1);
    }

    .contact_us--head {
        position: relative;
        @include adaptive-value('height', 372, 140, 1);
        @include adaptive-value("padding-bottom", 64, 32, 1);
        @include adaptive-value("margin-bottom", 34, 18, 1);
        display: flex;
        align-items: flex-end;
        justify-content: center;

        h1 {
            color: #FCFAF8;
            text-align: center;
        }
    }

    .head_img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        @include adaptive-value("border-radius", 50, 10, 1);
        overflow: hidden;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background: linear-gradient(0deg, rgba(17, 19, 62, 0.45) 0%, rgba(17, 19, 62, 0.45) 100%), url(<path-to-image>) lightgray -4.596px -160.149px / 100.882% 256.725% no-repeat;
            background-blend-mode: multiply, normal;
        }
    }

    .contact_us--body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px;

        @include media('<desktop') {
            flex-direction: column;
            align-items: center;
        }
    }

    .form_wrap {
        max-width: 808px;
        width: 100%;

        @include media('<desktop') {
            max-width: 100%;
        }

        h2 {
            color: #1F1F1F;
            font-weight: 600;
            margin-bottom: 12px;
        }

        p {
            color: #A0A0A0;
            @include adaptive-value("font-size", 18, 14, 1);
            font-weight: 400;
            line-height: 150%;
            margin-bottom: 24px;
        }
    }

    .contact_us--form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;


        input,
        textarea {
            border-radius: 6px;
            border: 1px solid #F5F2F2;
            background: #FFF;
            padding: 12px 16px 12px 20px;
            font-size: 16px;
            line-height: 150%;
            color: #1F1F1F;

            &::placeholder {
                color: #6B7280;
            }
        }

        input {
            width: 48.5%;
        }

        textarea {
            width: 100%;
            height: 220px;
        }
    }

    .input_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .general_btn {
        max-width: 248px;

        @include media('<phone') {
            max-width: 100%;
        }
    }

    .shop_info {
        max-width: 436px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid #F5F2F2;
        background: #FFF;
        padding: 32px 0;
        @include adaptive-value("padding-right", 32, 24, 1);
        @include adaptive-value("padding-left", 32, 24, 1);
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .shop_info--item {
        display: flex;
        flex-direction: column;
        gap: 12px;

        h3 {
            color: #11133E;
            font-size: 24px;
            font-weight: 600;
            line-height: 125%;
            margin-bottom: 16px;
        }

        a,
        p {
            color: #1F1F1F;
            font-size: 16px;
            line-height: 150%;
        }
    }

    .map {
        height: 600px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}