<section class="grab">
    <div class="container">
        <div class="content">
            <div class="grab_head">
                <div class="grab_head--text_block">
                    <h4>Grab It Before It's Gone!</h4>
                    <p>Limited Time Only – Your Baby’s Comfort Can’t Wait!</p>
                </div>
                <div class="grab_head--timer">
                    <div class="time_wrap">
                        <span>18</span>
                        <p>Hours</p>
                    </div>
                    <span>:</span>
                    <div class="time_wrap">
                        <span>05</span>
                        <p>Minutes</p>
                    </div>
                    <span>:</span>
                    <div class="time_wrap">
                        <span>24</span>
                        <p>Seconds</p>
                    </div>
                </div>
            </div>
            <div class="grab_item-wrap">
                <div class="grab_item">
                    <div class="item_img">
                        <img src="./images/garb_img_1.webp" alt="image nort found">
                    </div>
                    <div class="item_content">
                        <div class="number_reviews">
                            <img src="./images/star.svg" alt="star">
                            <span>1 Reviews</span>
                        </div>
                        <h5>Double-breasted blazer</h5>
                        <span>$109.99</span>
                        <div class="color_picker">
                            <div class="color_wrap active_color">
                                <div class="color_item"></div>
                            </div>
                            <div class="color_wrap">
                                <div class="color_item"></div>
                            </div>
                            <div class="color_wrap">
                                <div class="color_item"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grab_item">
                    <div class="item_img">
                        <img src="./images/garb_img_2.webp" alt="image nort found">
                    </div>
                    <div class="item_content">
                        <div class="number_reviews">
                            <img src="./images/star.svg" alt="star">
                            <span>1 Reviews</span>
                        </div>
                        <h5>Double-breasted blazer</h5>
                        <span>$109.99</span>
                        <div class="color_picker">
                            <div class="color_wrap">
                                <div class="color_item"></div>
                            </div>
                            <div class="color_wrap active_color">
                                <div class="color_item"></div>
                            </div>
                            <div class="color_wrap">
                                <div class="color_item"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grab_item">
                    <div class="item_img">
                        <img src="./images/garb_img_3.webp" alt="image nort found">
                    </div>
                    <div class="item_content">
                        <div class="number_reviews">
                            <img src="./images/star.svg" alt="star">
                            <span>1 Reviews</span>
                        </div>
                        <h5>Double-breasted blazer</h5>
                        <span>$109.99</span>
                        <div class="color_picker ">
                            <div class="color_wrap">
                                <div class="color_item"></div>
                            </div>
                            <div class="color_wrap">
                                <div class="color_item"></div>
                            </div>
                            <div class="color_wrap active_color">
                                <div class="color_item"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>