<header id="header">
    <marquee class="runing_string" width="100%" behavior="alternate">
        <span class="runing_string--item">10% off on all product</span>
        <div class="row_string"></div>
        <span class="runing_string--item">Get summer-ready: 10% off swim suits</span>
        <div class="row_string"></div>
        <span class="runing_string--item">10% off on all summer essentials!</span>
        <div class="row_string"></div>
        <span class="runing_string--item">Get 10% off on selected items</span>
        <div class="row_string"></div>
        <span class="runing_string--item">New customers save 10% with the code GET10</span>
        <div class="row_string"></div>
        <span class="runing_string--item">10% off swim suits</span>
        <div class="row_string"></div>
        <span class="runing_string--item">Free shipping on all orders over $50</span>
    </marquee>
    <div class="container">
        <div class="header_content">
            <a href="#" class="logo">
                <img src="./images/Logo.svg" alt="logo">
            </a>
            <nav class="menu">
                <ul class="menu_list">
                    <li class="menu_item"><a class="menu_link" href="#">Shop</a></li>
                    <li class="menu_item"><a class="menu_link" href="#">Home</a></li>
                    <li class="menu_item"><a class="menu_link" href="#">Contact Us</a></li>
                </ul>
            </nav>
            <div class="search_bar">
                <img src="./images/Search Bar.png" alt="bar">
            </div>
            <a href="#" class="cart">
                <img src="./images/cart.svg" alt="cart">
            </a>
            <div class="burger_menu">
                <span></span>
            </div>
        </div>
    </div>
</header>