<header id="header">
    <marquee class="runing_string" width="100%" behavior="alternate">
        <span class="runing_string--item">10% off on all product</span>
        <div class="row_string"></div>
        <span class="runing_string--item">Get summer-ready: 10% off swim suits</span>
        <div class="row_string"></div>
        <span class="runing_string--item">10% off on all summer essentials!</span>
        <div class="row_string"></div>
        <span class="runing_string--item">Get 10% off on selected items</span>
        <div class="row_string"></div>
        <span class="runing_string--item">New customers save 10% with the code GET10</span>
        <div class="row_string"></div>
        <span class="runing_string--item">10% off swim suits</span>
        <div class="row_string"></div>
        <span class="runing_string--item">Free shipping on all orders over $50</span>
    </marquee>
    <div class="container">
        <div class="header_content">
            <a href="#" class="logo">
                <img src="./images/header/Logo.svg" alt="logo">
            </a>
            <nav class="menu ">
                <button class="return_btn">
                    <img class="return_arrow" src="./images/header/return_arrow.svg" alt="arrow">
                </button>
                <h2 class="menu_title">Menu</h2>
                <ul class="menu_list">
                    <li class="menu_item"><a class="menu_link" href="#">
                        <img class="link_icon" src="./images/header/header_icon_1.svg" alt="icon">
                        Shop
                    </a></li>
                    <li class="menu_item"><a class="menu_link" href="#">
                        <img class="link_icon" src="./images/header/header_icon_2.svg" alt="icon">
                        Home</a></li>
                    <li class="menu_item"><a class="menu_link" href="#">
                        <img class="link_icon" src="./images/header/header_icon_3.svg" alt="icon">
                        Contact Us</a></li>
                </ul>
                <div class="shopping_cart--mob">
                    <span class="shopping_cart--title">Shopping Cart</span>
                    <p class="shopping_cart--empty_text">There is no items in your shopping cart. Go to the shop to choose what to buy.</p>
                    <a href="#" class="general_btn shopping_cart--btn_mob">go to shop 
                        <img src="./images/header/cart.svg" alt="cart">
                    </a>
                </div>
                <div class="header_links--wrap">
                    <a href="#" class="">Terms of service</a>
                    <a href="#" class="header_link">Privacy policy</a>
                </div>
            </nav>
            <div class="search_bar">
                <img src="./images/Search Bar.png" alt="bar">
            </div>
            <a href="#" class="cart">
                <img src="./images/header/cart.svg" alt="cart">
            </a>
            <div class="burger_menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>